*{box-sizing: border-box;}

body{margin:auto}

.rainbow {
    border:1px solid black;
    position:relative;
    width:100vw;
    height:50vw;
    overflow: hidden;
    margin:auto;
    background-color: black;
}
.rainbow::after{
    content:'';
    position:absolute;
    left:25%;
    top:50%;
    width:50%;
    height:100%;
    border-radius:50% ;
    box-shadow:0 0 0 3vw purple,0 0 0 6vw blue,0 0 0 9vw steelblue,0 0 0 12vw lightskyblue,
    0 0 0 15vw yellow,0 0 0 18vw green,0 0 0 21vw red,0 0 0 24vw pink;
}